__pycache__
.DS_Store
rollouts
*.gb
*.gbc
*.ram
.ipynb_checkpoints
raw_documentation
*.pem
_autoplay.mp4
session_*
.env
PokemonRed.gb.state
.idea/*
baselines/_session_start/agent_stats_*
baselines/_session_start/all_runs_*
baselines/_session_start/curframe_*
baselines/_session_start/screenshots/*
